@import "mapbox-gl/dist/mapbox-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-inset-left: env(safe-area-inset-left);
  --safe-inset-right: env(safe-area-inset-right);
  --safe-inset-top: env(safe-area-inset-top);
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .35);
  }

  .safe-px {
    padding-left: var(--safe-inset-left);
    padding-right: var(--safe-inset-right);
  }

  .safe-pt {
    padding-top: var(--safe-inset-top);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Container for the rolling text */
.roller {
  position: relative;
  overflow: hidden;
  height: 2rem;
  /* match one line of text */
}

/* The element that moves up and down */
#rolltext {
  display: inline-block;
  animation: rollText 9s infinite ease-in-out;
}

/* Each phrase stacked vertically */
#rolltext span {
  display: block;
  line-height: 2rem;
  /* same as .roller height */
  white-space: nowrap;
}

/* 3 items → move by ~1/3 and 2/3 of the total height */
@keyframes rollText {

  /* First word visible */
  0%,
  20% {
    transform: translateY(0%);
  }

  /* Second word visible */
  25%,
  45% {
    transform: translateY(-33.333%);
  }

  /* Third word visible */
  50%,
  70% {
    transform: translateY(-66.666%);
  }

  /* Back to first word */
  75%,
  100% {
    transform: translateY(0%);
  }
}