@import "mapbox-gl/dist/mapbox-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-inset-left: env(safe-area-inset-left);
  --safe-inset-right: env(safe-area-inset-right);
  --safe-inset-top: env(safe-area-inset-top);
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .35);
  }

  .safe-px {
    padding-left: var(--safe-inset-left);
    padding-right: var(--safe-inset-right);
  }

  .safe-pt {
    padding-top: var(--safe-inset-top);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.roller {
  height: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 3s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }

  33.33% {
    top: -1.5rem;
  }

  66.66% {
    top: -3rem;
  }

  100% {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .roller {
    height: 1.125rem;
    line-height: 1.125rem;
    overflow-x: auto;
  }

  .roller #rolltext {
    animation: slide-mob 3s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }

    33.33% {
      top: -1.125rem;
    }

    66.66% {
      top: -2.25rem;
    }

    100% {
      top: 0;
    }
  }
}